.footer {
    background-color: #1735a4;
    color: #ffff;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #ff5f67;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}