.footer {
    background-color: #1735a4;
    color: #ffff;
    text-align: center;
    width: 100%;
    margin-top: auto;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #ff5f67;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}